<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <div class="emoticon">🎉</div>
    <h1>¡Bienvenido al Bingo Online!  🎰</h1>
    <p>Diviértete jugando al bingo con tus amigos y familiares. ¡Genera tus cartones y compite por ganar!</p>
    <div class="actions">
        <a href="{{ url_for('registroRuta') }}" class="btn">Registrate  🎲</a>
        <a href="{{ url_for('loginRuta') }}" class="btn">Inicia Sesión  🎱</a>
    </div>
</div>
</body>
</html>